@import "active_admin/mixins"

.active_admin
  .activeadmin-translations
    margin-bottom: 20px

    .dropdown_menu
      display: inline-block
      padding: 16px
      +border-top-radius(4px)
      background-color: #f4f4f4

    fieldset ol > li.fallback
      font-size: 1.0em
      font-weight: bold
      color: #5e6469

    ul > li
      @include gradient(#6EC148, #FFF)

    ul > li > a.error
      @include gradient(#cc1f27, #db4249)
      @include text-shadow(#5a83aa)
      color: #FFF

    ul > li > a.untranslated
      @include gradient(#FF0000, #FFF)
      color: #FFF

    ul > li > a.fallback
      background-color: #F2F2F2

    ul > li > a.active
      @include highlight-gradient
      @include text-shadow(#5a83aa)
      color: #FFF

    &> fieldset.inputs
      margin-bottom: 0

      ol
        padding-left: 0
        width: 100%

      li.hidden
        padding: 0 !important
